* {
	margin: 0;
	padding: 0;
	font: 11px/18px verdana, helvetica, arial, sans-serif;
	color: #888;
	}
	
body { background-color: #fff; }
	
#wrap {
	position: relative; 
	width: 90%;
	padding: 5%;
	}

#info {
	position: relative; 
	width: 100%;
	margin-bottom: 40px;
	}

#info p + p + p { display: none; }

a#logo { display: none; }
	
ul#port { display: none; list-style: none; }

#intro,
#resume,
#about,
#portfolio {
	position: relative;
	width: 100%;
	height: auto;
	}

#education,
#work-experience,
#languages-software,
#associations {
	margin-bottom: 40px;
	}

#resume ul { list-style-type: circle; margin-left: 16px; }
	
h1, h2, p, dl, img { margin-bottom: 10px; }

h1 { clear: both; }
h2 { color: #ccc; font-style: italic; }

a { text-decoration: none; }

a:after, a.ext:after {
	content: " (" attr(href) ")";
	}

dt, dt a { color: #444; }