* {
	margin: 0 auto;
	padding: 0;
	font: 11px/18px verdana, helvetica, arial, sans-serif;
	color: #888;
	}
	
body { background: #fff url(../media/images/bg-body.jpg) repeat-y fixed center;}

h1, h2, p, dl, img { margin-bottom: 20px; }

h1 { clear: both; }
h2 { color: #ccc; font-style: italic; }

a { color: #444; text-decoration: none; border-bottom: 1px dotted #ddd; }
a:hover { color: #ffc300; border-bottom: 1px dotted #ffc300; }

dt, dt a { color: #444; }
	
#wrap {
	position: relative;
	width: 931px;
	height: auto;
	}

#info {
	position: absolute;
	top: 80px;
	left: 0;
	width: 200px;
	height: auto;
	}

a#logo {
	float: left;
	width: 17px;
	height: 30px;
	background: transparent url(../media/images/info-logo.jpg) no-repeat 0 0;
	text-indent: -999em;
	border-bottom: 0px;
	margin-bottom: 25px;
	}
	
a#logo:hover { background: transparent url(../media/images/info-logo.jpg) no-repeat 0 -30px; }

ul#port {
	list-style: none;
	width: 200px;
	height: 74px;
	margin-bottom: 20px;
	}

ul#port li a {
	float: left;
	width: 30px;
	height: 30px;
	text-indent: -999em;
	border: 1px solid #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	}
	
ul#port li a#port-ba 	{ background: transparent url(../media/images/port-ba-1.jpg) no-repeat 0 0; }
ul#port li a#port-cc 	{ background: transparent url(../media/images/port-cc-1.jpg) no-repeat 0 0; }
ul#port li a#port-tbt 	{ background: transparent url(../media/images/port-tbt-1.jpg) no-repeat 0 0; }
ul#port li a#port-bb 	{ background: transparent url(../media/images/port-bb-1.jpg) no-repeat 0 0; }
ul#port li a#port-ltp 	{ background: transparent url(../media/images/port-ltp-1.jpg) no-repeat 0 0; margin-right: 0; }
ul#port li a#port-157 	{ background: transparent url(../media/images/port-157-1.jpg) no-repeat 0 0; }
ul#port li a#port-amp 	{ background: transparent url(../media/images/port-amp-1.jpg) no-repeat 0 0; }
ul#port li a#port-as 	{ background: transparent url(../media/images/port-as-1.jpg) no-repeat 0 0; }
ul#port li a#port-f 	{ background: transparent url(../media/images/port-f-1.jpg) no-repeat 0 0; }
ul#port li a#port-mh 	{ background: transparent url(../media/images/port-mh-1.jpg) no-repeat 0 0; margin-right: 0; }

ul#port li a#port-ba:hover,
ul#port li a#port-ba.selected,
ul#port li a#port-cc:hover,
ul#port li a#port-cc.selected,
ul#port li a#port-tbt:hover,
ul#port li a#port-tbt.selected,
ul#port li a#port-bb:hover,
ul#port li a#port-bb.selected,
ul#port li a#port-ltp:hover,
ul#port li a#port-ltp.selected,
ul#port li a#port-157:hover,
ul#port li a#port-157.selected,
ul#port li a#port-amp:hover,
ul#port li a#port-amp.selected,
ul#port li a#port-as:hover,
ul#port li a#port-as.selected,
ul#port li a#port-f:hover,
ul#port li a#port-f.selected,
ul#port li a#port-mh:hover,
ul#port li a#port-mh.selected {
	background-position: 0 -30px;
	border: 1px solid #ffc300;
	}

#intro,
#resume,
#about,
#portfolio {
	position: absolute;
	top: 135px;
	left: 281px;
	width: 620px;
	height: auto;
	padding-bottom: 80px;
	}

#education,
#work-experience,
#languages-software,
#associations {
	margin-bottom: 60px;
	}

#resume ul { list-style-type: circle; margin-left: 16px; }